In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB

In [2]:
spam = pd.read_csv("data/spam.csv")
spam

     class                                               text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [3]:
X = spam['text']
y = spam['class']

In [4]:
vect = CountVectorizer(ngram_range=(1,3), max_features=8000, min_df=5)
X_vect = vect.fit_transform(X).toarray()

In [5]:
X_vect

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [6]:
X_vect.shape

(5572, 4708)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X_vect, y, random_state=0)

In [8]:
nb = GaussianNB()
nb.fit(X_train, y_train)
nb.score(X_test, y_test)

0.9389806173725772

In [9]:
sample = "You won 25 Lacs"
vec = vect.transform([sample]).toarray()

In [10]:
nb.predict(vec)

array(['spam'], dtype='<U4')

In [11]:
sample = "Hi, I need your help"
vec = vect.transform([sample]).toarray()
nb.predict(vec)

array(['spam'], dtype='<U4')

In [12]:
topic = pd.read_csv('data/question_topic.csv')
topic.head()

,Unnamed: 0,question_text,question_topic
0,0,"Hi! If I sign up for your email list, can I se...",Sales/Promotions
1,1,I'm going to be out of the country for about a...,Shipping
2,2,I was wondering if you'd be able to overnight ...,Shipping
3,3,The Swingline electronic stapler (472555) look...,Shipping
4,4,I think this cosmetic bag would work great for...,Shipping

In [13]:
X = topic['question_text']
y = topic['question_topic']

In [14]:
vect = CountVectorizer()
X_vec = vect.fit_transform(X).toarray()

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X_vec, y, random_state = 0)

In [16]:
nb1 = GaussianNB()
nb1.fit(X_train, y_train)
nb1.score(X_test, y_test)

0.8944

In [18]:
sample1 = "I need to travel across the world"
vec1 = vect.transform([sample1]).toarray()
nb1.predict(vec1)

array(['Product Availability'], dtype='<U22')